.topnav
{

    opacity: 0.8;
    overflow: hidden;
    width: auto;

}

.topnav-left
{

    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.topnav-right
{

    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.topnav-left:active
{
    background-color: rgb(50, 56, 93);
    color: rgb(255, 255, 255);

}

.topnav-left:hover
{

    background-color: rgb(255, 255, 255);
    color: rgb(50, 56, 93);

}


.topnav-right:hover
{

    background-color: rgb(255, 255, 255);
    color: rgb(50, 56, 93);
    
}

.bgimg
{

    background: rgb(247,247,247);
    background: linear-gradient(15deg, rgba(247,247,247,1) 0%, rgb(50, 56, 93) 74%);

}

.nobg
{
    background:none;
    border:none;
    -webkit-appearance:none;
    color: rgb(255, 255, 255);
}

.nobg:hover
{
 
    background-color: rgb(255, 255, 255);
    color: rgb(50, 56, 93);
    
}


.jumbotron
{
	opacity: 0.8;
}